# ðŸ“ Python Assignment â€“ Nested Lists & Nested Dictionaries
## Medium Level Questions (20)
### Instructions:
- Write all your answers in the code cells provided.
- Do not erase the questions.
- Use loops (`for` / `while`) wherever necessary.
---

## **1. Print every element inside this nested list:**
`[[1,2,3], [4,5], [6,7,8,9]]`

In [9]:
lst=[[1,2,3], [4,5], [6,7,8,9]]
for in_list in lst:
    for out_list in in_list:
        print(out_list)

1
2
3
4
5
6
7
8
9

## **2. Find the sum of all numbers inside a nested list.**
Example: `[[10,20], [30], [5, 7, 8]]`

In [13]:
lst1=[[10,20], [30], [5, 7, 8]]
sum=0
for in_list in lst1:
    for out_list in in_list:
        sum+=out_list
print(sum)

80

## **3. Count how many even numbers are present in a nested list.**

In [36]:

lst=[[10,20], [30], [5, 7, 8]]
count=0
for in_list in lst:
    for out_list in in_list:
        if out_list%2==0:
            count+=1
print(count)

4

## **4. Convert all strings to uppercase inside a nested list.**
Example: `[['hello', 'world'], ['python']]`

In [75]:
lst=[['hello', 'world'], ['python']]

for i in lst:
    for j in i:
        lst=j.upper()
        print(lst)

HELLO
WORLD
PYTHON

## **5. For the nested marks list, print total marks of each student.**
`[[80, 90, 85], [75, 70, 65], [88, 92, 79]]`

In [ ]:
lst1=[[80, 90, 85], [75, 70, 65], [88, 92, 79]]
total=0
for i in lst1:
    for j in i:
        total=total+j
    print(total)

255
465
724

## **6. Create a new list containing numbers greater than 50 from a nested list.**

In [61]:
lst4=[[80, 12, 85], [34, 70, 45], [25, 92, 79]]
lst6=[]
for i in lst4:
    for j in i:
        if j>50:
            lst6.append(j)
print(lst6)

[80, 85, 70, 92, 79]

## **7. Find the largest number inside a nested list.**

In [51]:
lst3=[[80, 90, 85], [75, 70, 65], [88, 92, 79]]
max=0
for i in lst3:
    for j in i:
        if j>max:
            max=j
print(max)

92

## **8. Flatten a nested list into a single list.**
`[[1,2], [3,4], [5]] â†’ [1,2,3,4,5]`

In [4]:
lst5=[[1,2], [3,4], [5]]
lst6=[]
for i in lst5:
    for j in i:
        lst6.append(j)
print(lst6)

[1, 2, 3, 4, 5]

## **9. Replace all negative numbers with 0 inside a nested list.**

In [2]:

lst2=[[10,20,-3], [-23,30], [5, -7, 8]]

for i in range(len(lst2)):
    for j in range(len(lst2[i])):
        if (lst2[i][j]<0):
            lst2[i][j]=0
print(lst2)

[[10, 20, 0], [0, 30], [5, 0, 8]]

## **10. Count how many inner lists exist inside a nested list.**

In [54]:
lst5=[[80, 90, 85], [75, 70, 65], [88, 92, 79]]
cnt=0
for i in lst5:
    cnt+=1
print(cnt)

3

## **11. Print each student's name and age from this nested dictionary:**
```
{
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
```

In [2]:
dic={
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}

for key,value in dic.items():
    print(key,":",value['age'])

A : 15
B : 16

## **12. Increase every student's marks by 5 in a nested dictionary.**

In [5]:
dic1={
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 20}
}

for key, value in dic1.items():
    value['grade']=value['grade']+5
print(dic1)

{'A': {'age': 15, 'grade': 15}, 'B': {'age': 16, 'grade': 25}}

## **13. Print only the inner dictionary keys from a nested dictionary.**

In [20]:
dic3={
  'A': {'age': 15, 'grade': 10},
  'B': {'percent': 16, 'marks': 11}
}

for key,value in dic3.items():
    for key in value.keys():
        print(key)

age
grade
percent
marks

## **14. Count how many students scored more than 80 in math:**
```
{
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
```

In [22]:
student_marks={
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
count=0
for key,value in student_marks.items():
    if value['math']>80:
        count+=1
print(count)

1

## **15. Create a new dictionary of students whose age is above 15.**

In [24]:
dic4={
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 20},
  'c': {'age': 18, 'grade': 25}
}
dic5={}

for key,value in dic4.items():
    if value['age']>15:
        dic5[key]=value
print(dic5)

{'B': {'age': 16, 'grade': 20}, 'c': {'age': 18, 'grade': 25}}

## **16. Find which student scored highest in science.**

In [27]:
student_marks={
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
highest=0
first_student=""
for student in student_marks:
    science_marks=student_marks[student]['science']

    if science_marks>highest:
        highest=science_marks
        first_student=student
print(first_student)

A

## **17. Print employees who belong to the HR department from this dictionary.**

In [32]:
dic11 = {
    'emp11': {'name': 'Rohan', 'department': 'IT', 'salary': 55000},
    'emp12': {'name': 'Meera', 'department': 'HR', 'salary': 47000},
    'emp13': {'name': 'Vikas', 'department': 'Finance', 'salary': 62000},
    'emp14': {'name': 'Anjali', 'department': 'Marketing', 'salary': 51000},
    'emp15': {'name': 'Karan', 'department': 'HR', 'salary': 59000}
}

for key,value in dic11.items():
    if value['department']=='HR':
        print(key)

emp12
emp15

## **18. Delete all entries where the status is 'inactive'.**

In [41]:
dic12= {
    'emp11': {'name': 'Rohan',  'salary': 55000, 'status': 'active'},
    'emp12': {'name': 'Meera',  'salary': 47000, 'status': 'inactive'},
    'emp13': {'name': 'Vikas',  'salary': 62000, 'status': 'active'},
    'emp14': {'name': 'Anjali',  'salary': 51000, 'status': 'inactive'},
    'emp15': {'name': 'Karan',  'salary': 59000, 'status': 'inactive'}
}

delete_key=[]
for key,value in dic12.items():
    if value['status']=='inactive':
        delete_key.append(key)
for key in delete_key:
    del dic12[key]
print(dic12)

{'emp11': {'name': 'Rohan', 'salary': 55000, 'status': 'active'}, 'emp13': {'name': 'Vikas', 'salary': 62000, 'status': 'active'}}

## **19. Find total stock by summing all 'quantity' values in a nested dictionary.**

In [44]:
stock = {
    'item1': {'name': 'Notebooks', 'quantity': 50, 'price': 40},
    'item2': {'name': 'Pens', 'quantity': 150, 'price': 10},
    'item3': {'name': 'Pencils', 'quantity': 200, 'price': 5},
    'item4': {'name': 'Erasers', 'quantity': 95, 'price': 8},
    'item5': {'name': 'Markers', 'quantity': 60, 'price': 25},
    'item6': {'name': 'Staplers', 'quantity': 40, 'price': 120}
}

total=0

for key,value in stock.items():
    total+=value['quantity']
print(total)

595

## **20. Convert all inner dictionary keys to uppercase.**

In [54]:
stock = {
    'item1': {'name': 'Notebooks', 'quantity': 50, 'price': 40},
    'item2': {'name': 'Pens', 'quantity': 150, 'price': 10},
    'item3': {'name': 'Pencils', 'quantity': 200, 'price': 5}
    
}
for item in stock:
    inner_dict = stock[item]
    new_dict = {}

    for key in inner_dict:
        new_dict[key.upper()] = inner_dict[key]

    stock[item] = new_dict

print(stock)

{'item1': {'NAME': 'Notebooks', 'QUANTITY': 50, 'PRICE': 40}, 'item2': {'NAME': 'Pens', 'QUANTITY': 150, 'PRICE': 10}, 'item3': {'NAME': 'Pencils', 'QUANTITY': 200, 'PRICE': 5}}