### 1. Print numbers from 1 to 10 using a for loop

In [23]:
for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

### 2. Print all even numbers between 1 and 20 using a for loop

In [22]:
for num in range(2,22,2):
    print(num)

2
4
6
8
10
12
14
16
18
20

### 3. Print each character of the string 'Python' using a for loop

In [20]:
string="Python"
for ch in range(len(string)):
    print(string[ch])

P
y
t
h
o
n

### 4. Print the squares of numbers from 1 to 5 using a for loop

In [21]:
for n in range(1,6):
    print(n**2)

1
4
9
16
25

### 5. Print all elements of a list using a for loop

In [24]:
lst=[1,2,3,4,5,6]
for i in range(len(lst)):
    print(lst[i])

1
2
3
4
5
6

### 6. Calculate the sum of numbers from 1 to 50 using a for loop

In [3]:
sum=0
for i in range(1,51):
    sum+=i
print(sum)

1275

### 7. Print numbers from 10 to 1 in reverse using a for loop

In [5]:
for i in range(10,0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

### 8. Print the multiplication table of 7 using a for loop

In [15]:
num=7
for i in range(1,11):
    print(num, "x", i, "=" ,num*i)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

### 9. Count how many vowels are in the string 'education' using a for loop

In [18]:
str="education"
count=0
vowels=["a","e","i","o","u"]
for i in range(len(str)):
    if str[i] in vowels:
        count+=1
print("number of vowels in the given string is:",count)

number of vowels in the given string is: 5

### 10. Print all odd numbers from 1 to 30 using a for loop

In [7]:
for i in range(1,31,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

### 11. Count how many uppercase letters are in a string using a for loop

In [1]:
str="Python IS The EASY Subject"
count=0
for ch in range(len(str)):
    if str[ch].isupper():
        count+=1
print(count)

9

### 12. Create a new list that contains only the positive numbers from another list

In [4]:
lst=[10,20,-11,30,-15,59]
lst1=[]
for i in range(len(lst)):
    if lst[i]>0:
       lst1.append(lst[i])
print(lst1)

[10, 20, 30, 59]

### 13. Print numbers from 1 to 10 using a while loop

In [ ]:
i=1
while(i<10):
    i+=1
    print(i)

1
2
3
4
5
6
7
8
9
10

### 14. Print all multiples of 5 up to 50 using a while loop

In [7]:
i = 5
while i <= 50:
    print(i)
    i += 5

5
10
15
20
25
30
35
40
45
50

### 15. Print numbers from 10 to 1 in reverse using a while loop

In [4]:
i=10
while(i>=1):
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

### 16. Keep asking the user to enter numbers until the user enters 0

In [9]:
num1=int(input("Enter the number:"))
while(num1!=0):
    print("Entered number is:",num1)
    num1=int(input("Enter the number: "))
print("You entered 0, program terminated")

Entered number is: 4
Entered number is: 3
Entered number is: 5
Entered number is: 6
Entered number is: 1
You entered 0, program terminated

### 17. Use a while loop to calculate the sum of the first 10 natural numbers

In [4]:
i=1
sum=0
while(i<=10):
    sum+=i
    i+=1
print(sum)

55

### 18. Given a dictionary of fruits and their prices, print all the keys using a for loop

In [1]:
dic={"apple":75, "banana": 50, "orange":70}
for key in dic.keys():
    print(key)

apple
banana
orange

### 19. Given a dictionary of fruits and their prices, print all the values using a for loop

In [2]:
dic={"apple":75, "banana": 50, "orange":70}
for val in dic.values():
    print(val)

75
50
70

### 20. Print both keys and values of a dictionary using a for loop

In [4]:
dic={"apple":75, "banana": 50, "orange":70}
for key,values in dic.items():
    print(key,values)

apple 75
banana 50
orange 70

### 21. Count how many keys are in a dictionary using a for loop

In [ ]:
dic={"apple":75, "banana": 50, "orange":70, "raspberry":150}
count=0
for key in dic.keys():
    count+=1
print(count)

4

### 22. Create a dictionary and print only the keys that start with the letter 'a'

In [ ]:
dic={"apple":75, "banana": 50, "orange":70, "raspberry":150, "avacado":100}
for key in dic.keys():
    if(key.startswith('a')):
        print(key)

apple
avacado

### 23. Given a dictionary of student names and marks, print only the students who scored more than 80

In [12]:
dic1={"nilam":85, "akanksha": 70, "vaishnavi":87,"mrunal":77}
for key,value in dic1.items():
    if(value>80):
        print(key,value)

nilam 85
vaishnavi 87

### 24. Given a dictionary, print the sum of all the values using a for loop

In [15]:
sum=0
dic2={"nilam":5, "akanksha": 0, "vaishnavi":7,"mrunal":3}
for value in dic2.values():
    sum+=value
print(sum)

15

### 25. Given a dictionary, find the key with the highest value using a for loop

In [6]:
dic1={"apple":75, "banana": 50, "orange":70, "raspberry":150, "avacado":100}
highest=0
for key in dic1.keys():
    if highest<dic1[key]:
        highest=dic1[key]
print(highest)

150

### 26. Convert all dictionary keys into a list using a for loop

In [5]:
dic={"apple":75, "banana": 50, "orange":70, "raspberry":150, "avacado":100}
lst=[]
for key in dic:
    lst.append(key)
lst

['apple', 'banana', 'orange', 'raspberry', 'avacado']

### 27. Create a dictionary of 5 words and their lengths, then print each word and its length using a for loop

In [6]:
dic1={"apple":len("apple"), "banana": len("banana"), "orange":len("orange"), "raspberry":len("raspberry"), "avacado":len("avacado")}
for key, value in dic1.items():
    print(key, value)

apple 5
banana 6
orange 6
raspberry 9
avacado 7

### 28. Given a list of numbers, print only numbers greater than 10

In [15]:
lst=[23,2,15,18,10,9]
for i in range(len(lst)):
    if(lst[i]>=10):
        print(lst[i])

23
15
18
10

### 29. Count how many elements in a list are integers using a for loop

In [21]:
count=0
lst=[2,"a",8,"b", 5, "d",9]
for i in range(len(lst)):
    if isinstance(lst[i],int):
        count+=1
print(count)

4

### 30. Print the sum of all even numbers in a list using a for loop

In [17]:
sum=0
lst=[23,2,15,18,10,9]
for i in range(len(lst)):
    if(lst[i]%2==0):
        sum+=lst[i]
print(sum)

30

### 31. Print the cube of each number in a list of 5 numbers

In [7]:
lst=[2,3,4,5,6]
for i in range(len(lst)):
    print(lst[i]**3)

8
27
64
125
216

### 32. Print each word in the sentence 'Python is fun' using a for loop

In [10]:
str="Python is fun"
# word=""
# for ch in str:
#     if ch!=" ":
#         word+= ch
#     else:
#         print(word)
#         word=""
# print(word)

for i in str.split():
    print(i)

Python
is
fun

### 33. Print the first 5 multiples of 3 using a for loop

In [11]:
for i in range(1,4):
    print(i*5)

5
10
15

### 34. Print only names that start with 'A' from a list of names

In [41]:
lst=["Ayesha", "Nilam", "Adi", "Apurva", "Akash"]
for ch in range(len(lst)):
     if lst[ch].startswith("A"):
        print(lst[ch])

Ayesha
Adi
Apurva
Akash

### 35. Find the largest number in a list using a for loop

In [12]:
lst=[23,45,34,67,54,87]
max=0
for i in range(len(lst)):
    if lst[i]>max:
        max=lst[i]
print(max)

87

### 36. Print the index and value of each element in a list

In [15]:
lst=[23,45,34,67,54,87]
for i in range(len(lst)):
    print(i, ":",lst[i])

0 : 23
1 : 45
2 : 34
3 : 67
4 : 54
5 : 87

### 37. Create a dictionary with 5 students and their marks

In [24]:
dic1={"nilam":75, "akanksha": 65, "vaishnavi":98,"mrunal":88,"aradhya":50}
dic1

{'nilam': 75, 'akanksha': 65, 'vaishnavi': 98, 'mrunal': 88, 'aradhya': 50}

### 38. Use a for loop to print all student names

In [26]:
for key in dic1.keys():
    print(key)

nilam
akanksha
vaishnavi
mrunal
aradhya

### 39. Given a dictionary of fruits and prices, use a for loop to print each fruit and its price

In [11]:
dic={"apple":75, "banana": 50, "orange":70, "raspberry":150, "avacado":100}
for key,value in dic.items():
    print(key,":",value)

apple : 75
banana : 50
orange : 70
raspberry : 150
avacado : 100

### 40. Create a dictionary of 5 products and their prices. Increase every product's price by 10% using a for loop

In [23]:
dic={"apple":75, "banana": 50, "orange":70, "raspberry":150, "avacado":100}
for key,value in dic.items():
    value=value+value*0.1
    print(key,value)

apple 82.5
banana 55.0
orange 77.0
raspberry 165.0
avacado 110.0

### 41. Given a dictionary of 10 items, delete all items whose value is less than 50 using a for loop

In [25]:
dic1={"nilam": 75, "ayesha": 40, "mrunal": 55, "priya": 45, "rahul": 35, 
     "sneha": 23, "omkar": 28, "sakshi": 80, "aditya": 79, "kunal": 20}

for key in list(dic1.keys()):
    if dic1[key]<50:
        dic1.pop(key)
print(dic1)

{'nilam': 75, 'mrunal': 55, 'sakshi': 80, 'aditya': 79}

### 42. Create a dictionary of subjects and marks. Add a new subject and mark. Then use a for loop to print all updated keyâ€“value pairs

In [23]:
dic2={"maths":75, "english":70, "marathi":88, "science":95}
dic2["algebra"]=65
print(dic2)
print()

for key,value in dic2.items():
    print(key,":",value)

{'maths': 75, 'english': 70, 'marathi': 88, 'science': 95, 'algebra': 65}

maths : 75
english : 70
marathi : 88
science : 95
algebra : 65

### 43. Given a dictionary of names and ages, add 1 year to every age using a for loop

In [11]:
dic={"nilam":25, "ayesha":26, "mrunal": 22}

for key in dic:
    dic[key]=dic[key]+1
print(dic)

{'nilam': 26, 'ayesha': 27, 'mrunal': 23}

### 44. Print numbers from 0 to 9 using range()

In [12]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### 45. Print numbers from 5 to 15 using range()

In [11]:
for i in range(5,16):
    print(i)

5
6
7
8
9
10
11
12
13
14
15

### 46. Print numbers from 1 to 20 with a step of 2 using range()

In [10]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

### 47. Print the length of a given list using len()

In [8]:
lst=["a","b","c","r","i"]
print(len(lst))

5

### 48. Print the length of a given string using len()

In [7]:
str1="hello world"
print(len(str1))

11

### 49. Use range() and len() to iterate over a list by index and print each element

In [1]:
lst1=[11,22,33,44,55,66,77,88]
for i in range(len(lst1)):
    print(lst1[i])

11
22
33
44
55
66
77
88

### 50. Print the sum of numbers from 1 to 100 using range()

In [6]:
sum=0
for i in range(1,101):
    sum+=i
print(sum)

5050