# Basic Dictionay Operations

1. Create a dictionary with 3 key-value pairs (name, age, city).

In [1]:
dic={"name":"nilam", "age":25, "city":"Kolhapur"}
dic

{'name': 'nilam', 'age': 25, 'city': 'Kolhapur'}

2. Create a dictionary and print the value of a specific key.

In [2]:
dic={"name":"nilam", "age":25, "city":"Kolhapur"}
dic.get("age")

25

3. Make a dictionary and add a new key-value pair to it.

In [6]:
dic={"name":"nilam", "age":25, "city":"Kolhapur"}
dic["dept"]="cse"
dic

{'name': 'nilam', 'age': 25, 'city': 'Kolhapur', 'dept': 'cse'}

4. Create a dictionary and change the value of an existing key.

In [9]:
dic={"name":"nilam", "age":25, "city":"Kolhapur"}
dic["age"]=26
dic

{'name': 'nilam', 'age': 26, 'city': 'Kolhapur'}

5. Create a dictionary and remove one key using pop().

In [12]:
dic1={'name': 'nilam', 'age': 25, 'city': 'Kolhapur', 'dept': 'cse'}
dic1
dic1.pop("dept")
dic1

{'name': 'nilam', 'age': 25, 'city': 'Kolhapur'}

6. Create a dictionary and remove the last inserted item using popitem().

In [16]:
dic1={'name': 'nilam', 'age': 25, 'city': 'Kolhapur', 'dept': 'cse'}
dic1.popitem()

('dept', 'cse')

7. Create a dictionary and print all the keys.

In [17]:
dic={"name":"nilam", "age":25, "city":"Kolhapur"}
dic.keys()

dict_keys(['name', 'age', 'city'])

8. Create a dictionary and print all the values.

In [18]:
dic={"name":"nilam", "age":25, "city":"Kolhapur"}
dic.values()

dict_values(['nilam', 25, 'Kolhapur'])

9. Create a dictionary and print all the key-value items.

In [ ]:
dic={"name":"nilam", "age":25, "city":"Kolhapur"}
dic.items()

dict_items([('name', 'nilam'), ('age', 25), ('city', 'Kolhapur')])

10. Make a dictionary and check the number of items using len().

In [22]:
dic={"name":"nilam", "age":25, "city":"Kolhapur"}
dic.__len__()

3

11. Create a dictionary and check if a certain key exists (using "key" in dict).

In [23]:
dic={"name":"nilam", "age":25, "city":"Kolhapur"}
"city" in dic

True

12. Create an empty dictionary and add two key-value pairs one by one.

In [28]:
dic={}
dic["dept"]="cse"
dic
dic["job"]="engineer"
dic

{'dept': 'cse', 'job': 'engineer'}

13. Create a dictionary and update one keyâ€™s value using update().

In [51]:
dic={"name":"nilam", "age":25, "city":"Kolhapur"}
dic
dic.update({"name":"ayesha"})
dic

{'name': 'ayesha', 'age': 25, 'city': 'Kolhapur'}

14. Create two dictionaries and combine them using update().

In [36]:
dic={"name":"nilam", "age":25}
dic1={"city":"Kolhapur", "job":"engineer"}
dic.update(dic1)
dic

{'name': 'nilam', 'age': 25, 'city': 'Kolhapur', 'job': 'engineer'}

15. Make a dictionary and get the value of a key using get().

In [39]:
dic={"name":"nilam", "age":25, "city":"Kolhapur", "job":"engineer"}
dic.get("job")

'engineer'

16. Create a dictionary and print its type using type().

In [41]:
dic={"name":"nilam", "age":25, "city":"Kolhapur", "job":"engineer"}
type(dic)

dict

17. Create a dictionary and replace one value with a new one.

In [44]:
dic={"name":"nilam", "age":25, "city":"Kolhapur", "job":"engineer"}
dic["city"]="pune"
dic

{'name': 'nilam', 'age': 25, 'city': 'pune', 'job': 'engineer'}

18. Create a dictionary and clear all items using clear().

In [45]:
dic={"name":"nilam", "age":25, "city":"Kolhapur", "job":"engineer"}
dic.clear()

19. Create a dictionary with numbers as keys and names as values. Print the dictionary.

In [46]:
dic1={1:"nilam",2:"vaishnavi",3:"poonam",4:"ayesha"}
dic1

{1: 'nilam', 2: 'vaishnavi', 3: 'poonam', 4: 'ayesha'}

20. Create a dictionary and copy it into a new dictionary using copy().

In [49]:
dic1={1:"nilam",2:"vaishnavi",3:"poonam",4:"ayesha"}
dic2=dic1.copy()
dic2

{1: 'nilam', 2: 'vaishnavi', 3: 'poonam', 4: 'ayesha'}