### 1. Create a dictionary with 3 key-value pairs (name, age, city).

### 2. Create a dictionary and print the value of a specific key.

### 3. Create a list of 5 numbers and print the second element.

### 4. Add an element "banana" to an existing list.

### 5. Insert "apple" at index 2 in a list.

### 6. Remove the element 10 from a list.

### 7. Create a tuple with 4 elements and print the last one.

### 8. Convert a tuple into a list.

### 9. Find the length of a given tuple.

### 10. Store 5 student names in a list and print them using a loop.

### 11. Create two lists and concatenate them.

### 12. Reverse a list without using reverse().

### 13. Sort a list in descending order.

### 14. Create a set with 5 numbers and add a new number.

### 15. Remove an element from a set using discard().

### 16. Find the union of two sets.

### 17. Find the intersection of two sets.

### 18. Check if a value exists in a set.

### 19. Create a set and clear all elements.

### 20. Convert a list with duplicate values into a set.

### 21. Create a dictionary and update the value of a key.

### 22. Delete a key-value pair from a dictionary.

### 23. Print all keys of a dictionary.

### 24. Print all values of a dictionary.

### 25. Loop through a dictionary and print key and value.

### 26. Create a list of numbers and print only even numbers.

### 27. Create a tuple and unpack it into 3 variables.

### 28. Check if a number is greater than 10 using a comparison operator.

### 29. Use the in operator to check if "python" exists in a list.

### 30. Use the and operator in a condition.

### 31. Use the % operator to check if a number is divisible by 5.

### 32. Use the ** operator to calculate 2 raised to the power 5.

### 33. Create two numbers and compare them using >=.

### 34. Create a list and remove the last element using pop().

### 35. Create a list and print its first and last elements.

### 36. Count how many times "apple" appears in a list.

### 37. Create a tuple and check if a value exists using in.

### 38. Convert a dictionaryâ€™s keys into a list.

### 39. Create a nested dictionary for a student (name, marks, subjects).

### 40. Merge two dictionaries into one.

### 41. Create a set and print the number of elements.

### 42. Create a dictionary and print all items using items().

### 43. Create a list of numbers 1 to 10 and print the square of each one.

### 44. Multiply two numbers and print the result using *.

### 45. Divide two numbers and print the results using / and //.

### 46. Create a list and replace the element at index 1.

### 47. Create a tuple from user input (3 values).

### 48. Create a set from a string and print all unique characters.

### 49. Use the is operator to compare two variables.

### 50. Create a dictionary and check if a key exists using in.

### 51. Write a program to check if a number is between 10 and 50 using and.

### 52. Check if a number is less than 5 or greater than 20 using or.

### 53. Use not to check if a list is not empty.

### 54. Write code to check if a character is a vowel using or.

### 55. Check if a dictionary has both keys "name" and "age".

### 56. Verify if a set contains either 10 or 20.

### 57. Use not to check if a number is not equal to 100.

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

### 59. Use logical operators to check if a number is positive and even.

### 60. Check if a tuple has more than 3 elements or contains the value 0.