# Basic List Operations

1. Create a list of 5 numbers and add a new number to the end.

In [98]:
lst=[10,20,30,40,50]
lst
lst.insert(6,60)
lst

[10, 20, 30, 40, 50, 60]

2. Make a list of fruits and insert a fruit at the second position.

In [99]:
fruits=["mango","banana","strawberry"]
print(fruits)
fruits.insert(1,"apple")
fruits

['mango', 'banana', 'strawberry']

['mango', 'apple', 'banana', 'strawberry']

3. Create a list of names and remove one name from the list.

In [100]:
names=["nilam","raj","ayesha"]
names
names.remove("raj")
names

['nilam', 'ayesha']

4. Create a list of 4 items and change the value at index 2.

In [101]:
items=["bulb","charger","laptop"]
items[2]="mobile"
items

['bulb', 'charger', 'mobile']

5. Make a list of numbers and print only the first three elements.

In [102]:
num=[1,2,3,4,5]
num[0:3]

[1, 2, 3]

6. Create a list of colors and find the index of a specific color.

In [103]:
colors=["pink","black","blue","green"]
colors
colors.index("blue")

2

7. Create a list of 10 numbers and print how many times “5” appears.

In [104]:
numbers=[1,3,5,2,5,6,7,5,9,5]
numbers
numbers.count(5)

4

8. Make a list of 6 items and delete the item at index 3.

In [105]:
itm=["abc","xyz","def","num","val","err"]
itm
itm.pop(3)
itm

['abc', 'xyz', 'def', 'val', 'err']

9. Create a list of animals and add three more animals using extend().

In [106]:
animals=["cat","dog","elephant"]
animals
animals.extend(["horse","pig","lion"])
animals

['cat', 'dog', 'elephant', 'horse', 'pig', 'lion']

10. Create a list and remove the last item using pop().

In [107]:
lst=[10,40,50,30]
lst
lst.pop()

30

11. Create a list of prices and sort them in ascending order.

In [108]:
prices=[100,150.3,200.1,400]
prices
prices.sort()
prices

[100, 150.3, 200.1, 400]

12. Make a list of countries and reverse the order of the list.

In [109]:
country=["india","china","USA","UK"]
country.reverse()
country

['UK', 'USA', 'china', 'india']

13. Create a list of words and check if “apple” is in the list.

In [111]:
list=["guava","orange","apple","mango"]
"apple" in list

True

14. Create a list of numbers and print the largest and smallest number.

In [112]:
num=[11,23,21,14,43,56,67]
print(min(num))
print(max(num))

11
67

15. Make a list of 5 items and print each item using a loop.

In [113]:
list=[24,45,23,56,18,20]
for i in list:
    print(i)

24
45
23
56
18
20

16. Create two lists and combine them into one list.

In [114]:
lst1=[1,2,3]
lst2=[6,4,5]
lst1.extend(lst2)
lst1

[1, 2, 3, 6, 4, 5]

17. Make a list and replace the last item with a new value.

In [115]:
num= [1,5,3,6,7,8]
num[-1]= 0
num

[1, 5, 3, 6, 7, 0]

18. Create a list of numbers and print only the even numbers.

In [116]:
lst1=[23,22,20,31,41,55,40,44]

for l in lst1:
    if l%2==0:
        print(l)

22
20
40
44

19. Create a list and clear all items from the list.

In [ ]:
lst=[3,2,4,5,6]
lst
lst.clear()

20. Create a list of 5 values and copy it into another list.

In [5]:
list1=[10,30,40,60,20]
list1
list2=list1.copy()
list2

[10, 30, 40, 60, 20]