### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [8]:
dic={"name":"nilam","age":25,"city":"kolhapur"}
dic

{'name': 'nilam', 'age': 25, 'city': 'kolhapur'}

### 2. Create a dictionary and print the value of a specific key.

In [9]:
dic={"name":"nilam","age":25,"city":"kolhapur"}
dic.get("city")

'kolhapur'

### 3. Create a list of 5 numbers and print the second element.

In [2]:
lst1=[10,20,30,40,50]
lst1
lst1[1]

20

### 4. Add an element "banana" to an existing list.

In [5]:
list=["guava","orange","apple","mango"]
list.append("banana")
#list.insert(1,"banana")
list

['guava', 'orange', 'apple', 'mango', 'banana']

### 5. Insert "apple" at index 2 in a list.

In [19]:
list=["guava","orange","apple","mango"]
list.insert(2,"apple")
list

['guava', 'orange', 'apple', 'apple', 'mango']

### 6. Remove the element 10 from a list.

In [21]:
lst1=[20,30,10,40,50]
lst1.pop(2)
lst1

[20, 30, 40, 50]

### 7. Create a tuple with 4 elements and print the last one.

In [4]:
tup=(20,30,40,50)
tup
tup[3]

50

### 8. Convert a tuple into a list.

In [2]:
t=(20,30,40,50)
lst1=list(t)
lst1

[20, 30, 40, 50]

### 9. Find the length of a given tuple.

In [26]:
tup=(20,30,40,50)
tup.__len__()

4

### 10. Store 5 student names in a list and print them using a loop.

In [6]:
name=["nilam","vaishnavi","ayesha","mrunali","apeksha"] 
for n in name:
    print(n)

nilam
vaishnavi
ayesha
mrunali
apeksha

### 11. Create two lists and concatenate them.

In [ ]:
lst1=[1,2,3]
lst2=[4,5,6]
#lst3=lst1+lst2
lst1.extend(lst2)
lst1

[1, 2, 3, 4, 5, 6]

### 12. Reverse a list without using reverse().

In [9]:
lst=[1,3,5,7,9]
print(lst[::-1])

[9, 7, 5, 3, 1]

### 13. Sort a list in descending order.

In [16]:
lst=[1,2,3,4,5]
sorted(lst,reverse=True)

[5, 4, 3, 2, 1]

### 14. Create a set with 5 numbers and add a new number.

In [18]:
set={2,3,4,5,6}
set.add(7)
set

{2, 3, 4, 5, 6, 7}

### 15. Remove an element from a set using discard().

In [20]:
set={2,3,4,5,6}
set.discard(5)
set

{2, 3, 4, 6}

### 16. Find the union of two sets.

In [24]:
s1={1,2,3,4}
s2={2,5,6,7}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

### 17. Find the intersection of two sets.

In [25]:
s1={1,2,3,4}
s2={2,5,6,7}
s1.intersection(s2)

{2}

### 18. Check if a value exists in a set.

In [26]:
s1={1,2,3,4}
s1.__contains__(2)

True

### 19. Create a set and clear all elements.

In [27]:
s1={1,2,3,4}
s1.clear()

### 20. Convert a list with duplicate values into a set.

In [2]:
lst=[1,2,5,3,4,5]
set(list.copy(lst))

{1, 2, 3, 4, 5}

### 21. Create a dictionary and update the value of a key.

In [30]:
dic={"name":"nilam","age":25,"city":"kolhapur"}
dic["age"]=26
dic

{'name': 'nilam', 'age': 26, 'city': 'kolhapur'}

### 22. Delete a key-value pair from a dictionary.

In [32]:
dic={"name":"nilam","age":25,"city":"kolhapur"}
dic.__delitem__("city")
dic

{'name': 'nilam', 'age': 25}

### 23. Print all keys of a dictionary.

In [33]:
dic={"name":"nilam","age":25,"city":"kolhapur"}
dic.keys()

dict_keys(['name', 'age', 'city'])

### 24. Print all values of a dictionary.

In [ ]:
dic={"name":"nilam","age":25,"city":"kolhapur"}
dic.values()

dict_values(['nilam', 25, 'kolhapur'])

### 25. Loop through a dictionary and print key and value.

In [38]:
dic={"name":"nilam","age":25,"city":"kolhapur"}
for i in dic:
    print(dic.items())

dict_items([('name', 'nilam'), ('age', 25), ('city', 'kolhapur')])
dict_items([('name', 'nilam'), ('age', 25), ('city', 'kolhapur')])
dict_items([('name', 'nilam'), ('age', 25), ('city', 'kolhapur')])

### 26. Create a list of numbers and print only even numbers.

In [48]:
lst1=[2,3,4,6,5,7,8,10]
#lst1[1::2]
for i in lst1:
    if i%2== 0:
        print(i)

2
4
6
8
10

### 27. Create a tuple and unpack it into 3 variables.

In [45]:
#tup=(2,3,4)
a,b,c=(2,3,4)
print(a,b,c)

2 3 4

### 28. Check if a number is greater than 10 using a comparison operator.

In [51]:
a=20
b=10
a>b

True

### 29. Use the in operator to check if "python" exists in a list.

In [54]:
list=["java", "python", "c", "Cpp"]
list
"python" in list

True

### 30. Use the and operator in a condition.

In [1]:
a=[10,20,30]
b=[20,40,50]
print(20 in a and 20 in b)

True

### 31. Use the % operator to check if a number is divisible by 5.

In [11]:
num=45
if num%5==0:
    print("number is divisible by 5")
else:
    print("number is  not divisible by 5")

number is divisible by 5

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [12]:
2**5

32

### 33. Create two numbers and compare them using >=.

In [13]:
a=10
b=20
b>=a

True

### 34. Create a list and remove the last element using pop().

In [14]:
list=["java", "python", "c", "Cpp"]
list.pop()

'Cpp'

### 35. Create a list and print its first and last elements.

In [41]:
list=["java", "python", "c", "Cpp"]
list[0],list[-1]

('java', 'Cpp')

### 36. Count how many times "apple" appears in a list.

In [21]:
lst=["banana", "apple", "jackfruit","apple", "orange","apple"]
lst.count("apple")

3

### 37. Create a tuple and check if a value exists using in.

In [22]:
t1=(3,4,5,6,7)
4 in t1

True

### 38. Convert a dictionaryâ€™s keys into a list.

In [ ]:
dic={"name":"nilam","age":25,"city":"kolhapur"}
list(dic.keys())

['name', 'age', 'city']

### 39. Create a nested dictionary for a student (name, marks, subjects).

In [6]:
dict= {"student1":{"name":"nilam", "marks": 98, "subject": "maths"},
      "student2":{"name":"vaishnavi", "marks": 99, "subject": "english"}}
dict

{'student1': {'name': 'nilam', 'marks': 98, 'subject': 'maths'},
 'student2': {'name': 'vaishnavi', 'marks': 99, 'subject': 'english'}}

### 40. Merge two dictionaries into one.

In [9]:
dic={"name":"nilam","age":25,"city":"kolhapur"}
dic1={"dept":"cse", "marks": 98, "subject": "maths"}
dic.update(dic1)
dic

{'name': 'nilam',
 'age': 25,
 'city': 'kolhapur',
 'dept': 'cse',
 'marks': 98,
 'subject': 'maths'}

### 41. Create a set and print the number of elements.

In [2]:
s1={20,30,40,50}
s1.__len__()

4

### 42. Create a dictionary and print all items using items().

In [3]:
dic={"name":"nilam","age":25,"city":"kolhapur"}
dic.items()

dict_items([('name', 'nilam'), ('age', 25), ('city', 'kolhapur')])

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [ ]:
lst1=[1,2,3,4,5,6,7,8,9,10]
for i in lst1:
    print(i*i)

1
4
9
16
25
36
49
64
81
100

### 44. Multiply two numbers and print the result using *.

In [ ]:
a=10
b=20
c=a*b

200

### 45. Divide two numbers and print the results using / and //.

In [20]:
a=45
b=20
print(a/b)
a//b

2.25

2

### 46. Create a list and replace the element at index 1.

In [21]:
lst=[1,2,3,5,4,6,7,8]
lst.__setitem__(1,10)
lst

[1, 10, 3, 5, 4, 6, 7, 8]

### 47. Create a tuple from user input (3 values).

In [2]:
a=input("Enter 1st value:")
b=input("Enter 2nd value:")
c=input("Enter 3rd value:")

t=(a,b,c)
print("tuple:", t)

tuple: ('10', '20', '30')

### 48. Create a set from a string and print all unique characters.

In [25]:
str="niilam"
set("niilam")

{'a', 'i', 'l', 'm', 'n'}

### 49. Use the is operator to compare two variables.

In [3]:
a=10
b=10
a is b

True

### 50. Create a dictionary and check if a key exists using in.

In [23]:
dic={"name":"nilam","age":25,"city":"kolhapur"}
"city" in dic

True

### 51. Write a program to check if a number is between 10 and 50 using and.

In [39]:
num=input("enter the number:")

if int(num)>=10 and int(num)<=50:
    print("number is between 10 and 50")
else:
    print("number is not in 10 and 50")

number is between 10 and 50

### 52. Check if a number is less than 5 or greater than 20 using or.

In [38]:
num=10
if num<5 or num>20:
    print("number is less than 5 or greater than 20")
else:
    print("number is not less than 5 or not greater than 20")

number is not less than 5 or not greater than 20

### 53. Use not to check if a list is not empty.

In [33]:
lst=[1,2,3]
if not lst==[]:
    print("list is not empty")
else:
    print("list is empty")

list is not empty

### 54. Write code to check if a character is a vowel using or.

In [8]:
char=input("enter the char:")
if char=="a" or char=="e" or char=="i" or char=="o" or char=="u":
    print("character is vowel")
else:
    print("charachter is not a vowel")

charachter is not a vowel

### 55. Check if a dictionary has both keys "name" and "age".

In [16]:
dic={"name":"nilam","age":25,"city":"kolhapur"}
if "name" in dic and "age" in dic:
    print("both are present")
else:
    print("Not in dic")

both are present

### 56. Verify if a set contains either 10 or 20.

In [23]:
s1=(10,60,30)
if 10 in s1 or 20 in s1:
    print("contains 10 or 20")
else:
    print("not contains")

contains 10 or 20

### 57. Use not to check if a number is not equal to 100.

In [24]:
num=120
if not num==100:
    print("number is not equal to 100")
else:
    print("number is equal to 100")

number is not equal to 100

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

In [18]:
marks= 45
attendance= 80
if marks>35 and attendance >75:
    print("student passed")
else:
    print("student not passed")

student passed

### 59. Use logical operators to check if a number is positive and even.

In [25]:
num=40
if num>0 and num%2==0:
    print("number is positive and even")
else:
    print("number is not positive and even")

number is positive and even

### 60. Check if a tuple has more than 3 elements or contains the value 0.

In [30]:
t1=(10,20,40,0)
if t1.__len__()>3 or 0 in t1:
    print("true")
else:
    print("false")

true