### 1.What is a function in Python?

In [ ]:
# A function is a block of code which only runs when it is called.
# A function can return data as a result.
# The def keyword introduces function definition, it must be followed by function name and parantheses.
# For calling function, write its name followed by parantheses
#Function definitions cannot be empty. If you need to create a function placeholder without any code, use the pass statement:

### 2.Write the correct syntax of a Python function.

In [ ]:
def function_name(): # function definition
    pass           #fun_body
function_name()      #calling the function

### 3.What is the default return value of a function if no return statement is used?

In [ ]:
#If a function doesn't have a return statement, it returns None by default.

### 4.Define a function named hello() that prints "Hello World".

In [4]:
def hello():
    print("Hello World")
hello()

Hello World

### 5.What is the difference between a parameter and an argument? Write a function with two parameters a and b that returns their sum.

In [ ]:
# A parameter is the variable listed inside the parentheses in the function definition.

# An argument is the actual value that is sent to the function when it is called.

# Parameter: the name in the function definition (e.g., def f(x): → x is a parameter).

# Argument: the actual value you pass when calling the function (e.g., f(3) → 3 is an argument).

def add(a,b): # parameters
    return a+b
add(10,20) # arguments

30

### 6.What are positional arguments? Give an example.

In [8]:
#values are assigned to parameters by position (order matters),must be passed in the correct order.

def greet(a,last_name):
    print(a, last_name)
greet(10, "patil")

10 patil

### 7.What are keyword arguments? Give an example.

In [10]:
#Pass arguments with the parameter name, order doesn’t matter.

def person(name,age):
    print(age, name)
person(age=25, name="nilam")

25 nilam

### 8.What are default parameters? Write a function with a default parameter country="India" that prints "I live in <country>".

In [ ]:
#If a value is not passed, Python uses the default.

def person(name="nilam"):
    print("Hey",name)
person()  #default
person("nisha") #overrides default

Hey nilam
Hey nisha

### 9.Write a function square(n) that returns the square of a number.

In [14]:
def square(n):
    return n*n
square(5)
square(15)

225

### 10.What does *args mean in Python? Write a function that accepts any number of values using *args and prints them.

In [25]:
# The *args parameter allows a function to accept any number of positional arguments.

# Inside the function, args becomes a tuple containing all the passed arguments:

def num(*args):
    print(args)
    print("first argument :",args[0])
    print("second argument: ", args[1])
    print("all arguments: ", args)
num(10,20,30, 49, 80,35.9,"a", "b")

(10, 20, 30, 49, 80, 35.9, 'a', 'b')
first argument : 10
second argument:  20
all arguments:  (10, 20, 30, 49, 80, 35.9, 'a', 'b')

### 11.What does **kwargs mean? Write a function that prints all keyword arguments using **kwargs.

In [28]:
# The **kwargs parameter allows a function to accept any number of keyword arguments.

# Inside the function, kwargs becomes a dictionary containing all the keyword arguments

def details(**kwargs):
    print(kwargs)
details(name="nilam", age=25, city="pune")

{'name': 'nilam', 'age': 25, 'city': 'pune'}

### 12.Write a function that returns two values: the sum and product of two numbers. Can a Python function return multiple values? How?

In [ ]:
#Yes, python function can return multiple values
#
def num(a,b):
    sum=a+b
    product=a*b
    return sum, product

result_sum, result_product=num(4,5)

print(f"sum : {result_sum}")
print(f"product: {result_product}")

sum : 9
product: 20

### 13.Write a function even_or_odd(n) that returns "Even" or "Odd".

In [32]:
def even_or_odd(n):
    if n%2==0:
        print("Even")
    else:
        print("Odd")
even_or_odd(11)

Odd

### 14.Write an adapter function that takes a list of operations and executes add, sub, mul, div based on input. 

### Example: [ {"op": "add", "a": 10, "b": 20}, {"op": "mul", "a": 4, "b": 5} ]

In [3]:
operations_list = [
    {"op": "add", "a": 10, "b": 20},
    {"op": "mul", "a": 4, "b": 5}
]
def adapter(operations):
    result=[]

    for item in operations:
        op=item["op"]
        a=item["a"]
        b=item["b"]

        if op=="add":
            result.append(a+b)
        elif op=="sub":
            result.append(a-b)
        elif op=="mul":
            result.append(a*b)
        elif op=="div":
            if b!=0:
                result.append(a/b)
            else:
                result.append("Division by zero")
        else:
            result.append("Invalid data")
    return result

adapter(operations_list)

[30, 20]

### 15.Write a function process_students(data) that prints total marks and grade for each student.
- Example: [ {"name":"A", "marks":[80,90,70]}, {"name":"B", "marks":[60,75,65]} ] 
- Expected Output: Name: A | Total: 240 | Grade: A Name: B | Total: 200 | Grade: B

In [1]:
student_data= [ 
    {"name":"A", "marks":[80,90,70]}, 
    {"name":"B", "marks":[60,75,65]} 
] 
def process_students(data):
    
    for values in data:
        name=values["name"]
        marks=values["marks"]
        total=0
        grade=""
        for m in marks:
            total=total+m

        if total>=240:
            grade="A"
            
        elif total>=200:
            grade="B"
            
        else:
            grade="C"
            

        print(f"Name:{name}| Total:{total} |Grade:{grade}")

process_students(student_data)

Name:A| Total:240 |Grade:A
Name:B| Total:200 |Grade:B

### 16.Create a function apply_discounts(products) that updates price after discount. 
- Example: [ {"name":"Laptop", "price":50000, "discount":10}, {"name":"Phone", "price":20000, "discount":5} ] 
- Expected Output: Laptop final: 45000 Phone final: 19000

In [5]:
products_list=[ 
    {"name":"Laptop", "price":50000, "discount":10}, 
    {"name":"Phone", "price":20000, "discount":5} 
    ]

def apply_discounts(products):

    for items in products:
        name=items["name"]
        price=items["price"]
        discount=items["discount"]

        final_price= price-(price*discount/100)

        print(f"{name} final:{final_price}")
apply_discounts(products_list)

Laptop final:45000.0
Phone final:19000.0

### 17.Write a function generate_report(employees) that calculates bonus based on salary slabs. 
- Slabs: 
- salary > 50,000 → bonus = 15%, 
- salary 30,000–50,000 → bonus = 10%, 
- salary < 30,000 → bonus = 5%. 

#### Example employees = 
- [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

In [3]:
employee_details=[
     {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000},
     {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000},
     {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000},
     {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000},
     {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} 
     ]

def generate_report(employees):

    for details in employees:
        id=details["id"]
        name=details["name"]
        age=details["age"]
        department=details["department"]
        salary=details["salary"]
        bonus=0
        if salary > 50000:
            bonus=salary*0.15
        elif salary>=30000 and salary<=50000:
            bonus=salary*0.10
        elif salary<30000:
            bonus=salary*0.05
        else:
            print("employee not found")
        
        print(f"{name} | Salary:{salary} | Bonus:{bonus}")

generate_report(employee_details)

Amit | Salary:55000 | Bonus:8250.0
Neha | Salary:40000 | Bonus:4000.0
Raj | Salary:65000 | Bonus:9750.0
Simran | Salary:60000 | Bonus:9000.0
Vijay | Salary:35000 | Bonus:3500.0

### 18.Write a function get_employee_names(emp_list) that returns a list of all employee names.

In [12]:
employee_details=[
     {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000},
     {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000},
     {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000},
     {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000},
     {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} 
     ]

def get_employee_names(emp_list):
    names=[]
    for emp in emp_list:
        names.append( emp["name"])
    return names
get_employee_names(employee_details)

['Amit', 'Neha', 'Raj', 'Simran', 'Vijay']

### 19.Write a function filter_by_department(emp_list, dept) that returns employees belonging to a specific department.

In [ ]:
employee_details=[
     {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000},
     {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000},
     {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000},
     {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000},
     {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} 
     ]

def filter_by_department(emp_list,dept):
    filtered=[]
    for emp in emp_list:
        if emp["department"]==dept:
            filtered.append(emp)
    return filtered
        
filter_by_department(employee_details,"IT")

[{'id': 101, 'name': 'Amit', 'age': 28, 'department': 'IT', 'salary': 55000},
 {'id': 104, 'name': 'Simran', 'age': 29, 'department': 'IT', 'salary': 60000}]

### 20.Write a function highest_salary(emp_list) that returns the employee with the highest salary.

In [20]:
employee_details=[
     {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000},
     {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000},
     {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000},
     {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000},
     {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} 
     ]

def highest_salary(emp_list):
    highest_salary_emp=""
    highest_salary=0
    for emp in emp_list:
        if emp["salary"]>highest_salary:
            highest_salary=emp["salary"]
            highest_salary_emp=emp
    return highest_salary_emp

highest_salary(employee_details)

{'id': 103, 'name': 'Raj', 'age': 31, 'department': 'Finance', 'salary': 65000}

### 21.Write a function average_salary(emp_list) that returns the average salary.

In [24]:
employee_details=[
     {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000},
     {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000},
     {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000},
     {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000},
     {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} 
     ]

def average_salary(emp_list):
    avg_salary=0
    count=0
    for emp in emp_list:
        avg_salary+=emp["salary"]
        count+=1
    return avg_salary/count

average_salary(employee_details)

51000.0

### 22.Write a function salary_hike(emp_list, percent) that increases each salary by given percent.

In [8]:
employee_details=[
     {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000},
     {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000},
     {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000},
     {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000},
     {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} 
     ]

def salary_hike(emp_list,percent):

    for emp in emp_list:
        emp["salary"]=emp["salary"]+(emp["salary"]*percent/100)
    return emp_list

updated_employee=salary_hike(employee_details,5)

for emp in updated_employee:
    print(f"Name:{emp["name"]},  Salary: {emp["salary"]}")

Name:Amit,  Salary: 57750.0
Name:Neha,  Salary: 42000.0
Name:Raj,  Salary: 68250.0
Name:Simran,  Salary: 63000.0
Name:Vijay,  Salary: 36750.0

### 23.Write out_of_stock(items) that returns all products with stock < 20.

In [21]:
items_list = [
    {"name": "Laptop", "price": 50000, "stock": 15},
    {"name": "Phone", "price": 20000, "stock": 50},
    {"name": "Tablet", "price": 15000, "stock": 10},
    {"name": "Monitor", "price": 10000, "stock": 25},
    {"name": "Keyboard", "price": 2000, "stock": 5},
    {"name": "Mouse", "price": 1500, "stock": 30}
]

def out_of_stock(items):
    products_list=[]
    for products in items:
        if products["stock"]<20:
            products_list.append(products)
    return products_list

out_of_stock(items_list)

[{'name': 'Laptop', 'price': 50000, 'stock': 15},
 {'name': 'Tablet', 'price': 15000, 'stock': 10},
 {'name': 'Keyboard', 'price': 2000, 'stock': 5}]

### 24.Write total_inventory_value(items) → sum(price * stock).

In [2]:
items_list = [
    {"name": "Laptop", "price": 50000, "stock": 15},
    {"name": "Phone", "price": 20000, "stock": 50},
    {"name": "Tablet", "price": 15000, "stock": 10},
    {"name": "Monitor", "price": 10000, "stock": 25},
    {"name": "Keyboard", "price": 2000, "stock": 5},
    {"name": "Mouse", "price": 1500, "stock": 30}
]
def total_inventory_value(items):
    total=0
    for val in items:
        total+=val["price"]*val["stock"]
    return total

# def total_inventory_value(items):
#     return sum(item["price"] * item["stock"] for item in items)


total_inventory_value(items_list)

2205000

### 25.Write search_product(items, name) → return matching product(s).

In [9]:
items_list = [
    {"name": "Laptop", "price": 50000, "stock": 15},
    {"name": "Phone", "price": 20000, "stock": 50},
    {"name": "Tablet", "price": 15000, "stock": 10},
    {"name": "Laptop", "price": 10000, "stock": 25},
    {"name": "Keyboard", "price": 2000, "stock": 5},
    {"name": "Tablet", "price": 1500, "stock": 30}
]
def search_product(items, name):
    matching_products=[]
    for products in items:
        if products["name"]==name:
            matching_products.append(products)
    return matching_products

search_product(items_list, "Laptop")

[{'name': 'Laptop', 'price': 50000, 'stock': 15},
 {'name': 'Laptop', 'price': 10000, 'stock': 25}]