### Variables and Data Types

In [ ]:
#Integer type


a=10 
a # 10 is int type 

b=10.4
b # b is float type/ decimal

In [ ]:
#Sequential
"""String = immutable
   List= ordered, mutable/changeable
   Tuple = ordered, immutable/not changeable
   """

In [ ]:
#Set Type
"""Set= unorderd , unique or distinct values / removes duplicates"""

In [ ]:
#Map Type
"""dictonary =stores key-value pairs """

In [ ]:
""" all operations
String,
List , 
Set,
Touple, 
Dictionary
"""

### String Functions

In [1]:
str="Python Programming"

In [2]:
str

'Python Programming'

In [3]:
type(str)

str

In [4]:
print(len(str)) #len() function returns length of string

18

#### String Case Conversion methods

In [5]:
str.capitalize() # convert 1st letter into capital, rest are lower

'Python programming'

In [6]:
str.upper() # all letters convert into uppercase

'PYTHON PROGRAMMING'

In [7]:
str.lower() # all letters convert into lowercase

'python programming'

In [8]:
str.title() #  each words 1st letter convert into capital

'Python Programming'

In [9]:
str.swapcase() #  Return a copy of the string with uppercase characters converted to lowercase and vice versa

'pYTHON pROGRAMMING'

In [11]:
name="ans adf ajf"
name.swapcase()

srt= "nilam patil"
name.swapcase()

'ANS ADF AJF'

#### String Search and Find Methods

In [14]:
txt= "spam, spam, spam"
txt.find('am')

2

In [15]:
txt.find('a',5) #Return the lowest index in the string where substring sub is found, Return -1 if sub is not found

8

In [16]:
txt.rfind('sp') #returns the highest index (last occurrence),  Return -1 if sub is not found

12

In [17]:
txt.index("m") #Like find() but error if not found

3

In [18]:
txt.count('am') #count the occurrances

3

In [19]:
txt.startswith("sp") # check start with

True

In [20]:
txt.endswith("m") #check end with

True

In [21]:
#String Replace and Remove methods

lang="  Python ,Program  "

In [22]:
lang.replace("Python","Java") #it replaces the old value with new value

'  Java ,Program  '

In [23]:
lang.strip() #removes spaces from both sides, Remove spaces left & right

'Python ,Program'

In [24]:
lang.lstrip() #removes spaces from left side

'Python ,Program  '

In [132]:
lang.rstrip() #removes spaces from right side

'  Python Program'

#### string Split and Join methods

In [25]:
lang.split() # it splits on spaces and returns list
             #split() → splits from the left

['Python', ',Program']

In [26]:
lang.splitlines()

['  Python ,Program  ']

In [27]:
lang.split(',') # it splits on comma

['  Python ', 'Program  ']

In [28]:
lang.rsplit() #It works exactly like split(), except: 
               #split() → splits from the left, 
               # rsplit() → splits from the right

['Python', ',Program']

In [29]:
fr="apple-mango-banana-grapes"

In [30]:
fr.rsplit("-",1) #only 1 split starting from the rightmost

['apple-mango-banana', 'grapes']

In [31]:
fr.rsplit("-",2) # 2 splits starting from the rightmost

['apple-mango', 'banana', 'grapes']

In [33]:
list_of_words= ["hello", "world","python"]
list_of_words

['hello', 'world', 'python']

In [34]:
print(" ".join(list_of_words))# Concatenates the elements of an iterable (like a list) into a single string, using the string on which the method is called as the separator.

hello world python

#### String validation Methods

In [35]:
str1="abcxyz"

In [36]:
str1.isalpha() #it checks if string contains only alphabets.

True

In [ ]:
str2="123"

In [ ]:
str2.isdigit() # checks only digits

True

In [39]:
str3="abcxyz567"

In [8]:
str3.isalnum() #checks alphabate and number only

True

In [40]:
str4="123"

In [41]:
str4.isnumeric()

True

### List Funtions

#### In-built functions

In [42]:
lst=[10,20,30]

In [43]:
len(lst) #Returns the number of items (length) in the list.

3

In [44]:
min(lst) #Returns the smallest item in the list.

10

In [45]:
max(lst) #Returns the largest item in the list.

30

In [46]:
sum(lst) #Returns the sum of all items in the list.

60

In [47]:
lst1=[30,20,10,40]

In [48]:
sorted(lst1) #Returns a new sorted list from the iterable. The original list is unchanged.

[10, 20, 30, 40]

In [49]:
my_tuple=(10,20,30)

In [50]:
list(my_tuple) #Converts another iterable (like a tuple, string, or set) into a list.

[10, 20, 30]

#### Add elements

In [51]:
lst=["apple","banana","mango"]
lst

['apple', 'banana', 'mango']

In [52]:
lst.append("strawberry") #Adds a single item to the end of the list.
print(lst)

['apple', 'banana', 'mango', 'strawberry']

In [53]:
lst.insert(2,"guava")# Adds an item at a specified index.
print(lst)

['apple', 'banana', 'guava', 'mango', 'strawberry']

In [54]:
a=[1,2]
a

[1, 2]

In [55]:
b=[3,4]
b

[3, 4]

In [56]:
a.extend(b)# Appends items from another iterable (like another list) to the end of the current list.
print(a)

[1, 2, 3, 4]

#### Remove Elements

In [57]:
item=['a','b','c','d']
item

['a', 'b', 'c', 'd']

In [58]:
item.remove('c')# Removes the first occurrence of a specified value. Raises a ValueError if the value is not found.
item

['a', 'b', 'd']

In [59]:
item.pop()# If no index is given, it removes and returns the last item.
item

['a', 'b']

In [60]:
item.pop(1)#Removes and returns the item at a specified index,here index is given
item

['a']

In [61]:
item.clear() #Removes all items from the list, making it empty.
item

[]

#### Manipulating and Querying

In [62]:
itm=["a","b","c","b","d"]
itm

['a', 'b', 'c', 'b', 'd']

In [63]:
print(itm.index("b")) #Returns the index of the first occurrence of a specified value. Can optionally search within a range.

1

In [64]:
print(itm.count("b")) #Returns the number of times a specified value appears in the list.

2

In [65]:
nums=[3,1,2]
nums

[3, 1, 2]

In [66]:
nums.sort() #Sorts the list in place. It modifies the original list and returns None
print(nums)

[1, 2, 3]

In [67]:
nums.reverse()
print(nums) #Reverses the order of elements in the list in place.

[3, 2, 1]

In [68]:
a=[1,2]
a

[1, 2]

In [ ]:
b=a.copy() #Returns a shallow copy of the list.
b

[1, 2]

In [ ]:
b.append(3) # append value into this copy result
b

[1, 2, 3]

### Set functions

In [71]:
s={1,2,3}
s

{1, 2, 3}

In [72]:
s.add(4)#Adds a single element to the set.
s

{1, 2, 3, 4}

In [73]:
s.update([5,6,7])#Adds multiple elements (iterable) to the set.
s

{1, 2, 3, 4, 5, 6, 7}

In [74]:
s.remove(4)# Removes an element, shows KeyError if the element is not present.
print(s)

{1, 2, 3, 5, 6, 7}

In [75]:
s.discard(6) #Removes an element,Does NOT raise an error if the element is missing.
s

{1, 2, 3, 5, 7}

In [77]:
x=s.pop() #Removes and returns a random element (since sets are unordered).
print(x)
print(s)

2
{3, 5, 7}

In [78]:
s.clear() #Removes all elements from the set.
print(s)

set()

In [79]:
a={1,2,3}
b={3,4,5}

print(a)
print(b)

{1, 2, 3}
{3, 4, 5}

In [80]:
print(a.union(b))   # Returns a new set containing all unique elements from both sets.

{1, 2, 3, 4, 5}

In [81]:
print(a.intersection(b))   # Returns common elements from both sets.

{3}

In [82]:
print(a.difference(b)) #Returns elements present in the first set but not in the second.

{1, 2}

In [83]:
print(a.symmetric_difference(b))#eturns elements that are in either set, but not in both.

{1, 2, 4, 5}

In [84]:
a={1,2}
b={1,2,3}
print(a.issubset(b))# Checks if all elements of one set exist in another.

True

In [85]:
x={1,3,2}
y={2,3}
print(x)
print(x.issuperset(y)) #Checks if one set contains all elements of another.

{1, 2, 3}
True

In [86]:
print(a.isdisjoint(b))#Returns True if two sets have no common elements.

False

In [88]:
a = {1, 2, 3, 2}
b= a.copy() # Returns a shallow copy of the set.
print(b)

{1, 2, 3}

### Tuple funtions

In [89]:
t=(10,20,30,40)
t

(10, 20, 30, 40)

In [90]:
print(len(t))# Get number of elements

4

In [ ]:
print(max(t))#returns the largest value

40

In [92]:
print(min(t))#Returns the smallest value

10

In [93]:
print(sum(t))#Returns the sum of all numeric elements

100

In [95]:
lst = [1, 2, 3]
print(tuple(lst)) #Convert any iterable to tuple

(1, 2, 3)

In [97]:
t = (1, 2, 2, 3, 2)
print(t.count(2))#Count how many times value appears

3

In [99]:
t = (10, 20, 30, 20, 40)
print(t.index(20)) #Returns the index of the first occurrence

1

In [101]:
#Tuple Slicing
t = (10, 20, 30, 40, 50)
print(t[1:4])# shows specific parts of a tuple.

(20, 30, 40)

In [102]:
#Tuple Concatenation (+)
t1 = (1, 2)
t2 = (3, 4)
print(t1 + t2)

(1, 2, 3, 4)

In [103]:
#Tuple Repetition (*)
t = (10, 20)
print(t * 3)

(10, 20, 10, 20, 10, 20)

In [104]:
#Tuple Packing
t=10,20,30
print(t)

(10, 20, 30)

In [105]:
#Tuple Unpacking
a,b,c=(10,20,30)
print(a,b,c)

10 20 30

### Dictionary operations

In [106]:
#1.create dictionary 
student={"name":"Nilam", "age":25, "city":"Pune"}

In [107]:
#2.Access dictionary value
print(student["name"]) # can access value using key

Nilam

In [108]:
print(student.get("age"))# can access value using get(), get does not throw error if key is missing thats why get() is safer to use

25

In [114]:
#3. Add or update key value
student["email"]= "nilam@gmail.com"  # adding value to dictionary
student["age"]=26 # update value
student

{'name': 'Nilam', 'city': 'Pune', 'email': 'nilam@gmail.com', 'age': 26}

In [ ]:
#4. Delete oprations
student.pop("age") # it removes item & returns value
print(student)

{'name': 'Nilam', 'city': 'Pune', 'email': 'nilam@gmail.com'}

In [ ]:
student.popitem()# it removes last inserted item
print(student)

{'name': 'Nilam', 'city': 'Pune'}

In [116]:
del student["email"] #removes by key
print(student)

{'name': 'Nilam', 'city': 'Pune'}

In [117]:
student.clear() #removes all items
print(student)

{}

In [118]:
#5. keys(), values(), items()
student={"name":"Nilam", "age":25}
student

{'name': 'Nilam', 'age': 25}

In [119]:
print(student.keys())

dict_keys(['name', 'age'])

In [120]:
print(student.values())

dict_values(['Nilam', 25])

In [28]:
print(student.items())

dict_items([('name', 'Nilam'), ('age', 25)])

In [29]:
#6. Loop Through Dictionary

In [121]:
for key in student:  
    print(key)  #check all keys

name
age

In [122]:
for value in student.values(): #print all values
    print(value)

Nilam
25

In [128]:
#fromkeys()
keys={"a","b","c"}
keys
dict.fromkeys(keys, 10) #it create dictionary with same value

{'a': 10, 'b': 10, 'c': 10}