# PART 1

### 1. **What is Python ?**

Python is a high-level, interpreted programming language known for its simplicity and readability. 
It allows developers to write code that is easy to understand and maintain. Python is used for a wide 
range of applications, such as web development, data analysis, artificial intelligence, automation, and more. 
It uses straightforward syntax, making it a great choice for beginners, yet it's powerful enough for advanced projects.

# ---------------------------------------------------------------------------------------------------------------------

### 2. **Variable In Python ?**

A variable in Python is like a container or a label that holds a value. It allows you to store information, such as numbers or text, so you can use it later in your program.

For example, if you want to remember someone's age, you can store it in a variable like this:

```python
age = 25
```
Here, age is the variable, and 25 is the value it holds. You can use this variable whenever you need to refer to that value in your program.

**Here are the basic rules for naming variables in Python:**
- 1. Start with a letter or an underscore.
      - Valid: age, _name, score1
      - Invalid: 1age (cannot start with a number)
- 2. Use letters, numbers, and underscores:
      - Valid: student_name, score_1, totalAmount
      - Invalid: student-name (hyphen is not allowed)
- 3. Case-sensitive:
      - Python treats uppercase and lowercase letters differently. So, Age and age are considered two different variables.
      - Age is different from age.
- 4. Avoid reserved words:
      - You cannot use Python's reserved keywords (like if, else, True, class, etc.) as variable names.
      - Invalid: if = 5 (because if is a keyword)

In [1]:
age=10   # this is how variable is defined . it will be stored into computer memory 

print(age)  # if I called age here then value 10 will be printed.

10

# ---------------------------------------------------------------------------------------------------------------------

### 3. **Variable Data Types :**


1. **Integer (`int`)**:  
   A whole number, without a decimal point.  
   - Example: `age = 25` (Here, `25` is an integer).
   - 
2. **Floating-point (`float`)**:  
   A number that has a decimal point.  
   - Example: `price = 19.99` (Here, `19.99` is a float).
   - 
3. **String (`str`)**:  
   A sequence of characters (text), enclosed in single, double, or triple quotes.  
   - Example: `name = "John"` (Here, `"John"` is a string).
   -
4. **Boolean (`bool`)**:  
   Represents either `True` or `False`. It's like a yes/no or on/off value.  
   - Example: `is_student = True` (Here, `True` is a boolean).
   - 
5. **List (`list`)**:  
   A collection of items, which can be of different types, enclosed in square brackets `[]`.  
   - Example: `fruits = ["apple", "banana", "cherry"]` (This is a list of strings).
   - 
6. **Tuple (`tuple`)**:  
   Similar to a list, but **immutable** (can't be changed once created), enclosed in parentheses `()`.  
   - Example: `coordinates = (10, 20)` (This is a tuple of integers).
   - 
7. **Dictionary (`dict`)**:  
   A collection of key-value pairs, enclosed in curly braces `{}`. Each key is unique.  
   - Example: `person = {"name": "John", "age": 25}` (This is a dictionary with key-value pairs).

8. **Set (`set`)**:  
   A collection of unique items, enclosed in curly braces `{}`, with no specific order.  
   - Example: `colors = {"red", "green", "blue"}` (This is a set of strings).
   - 
9. **NoneType (`None`)**:  
   Represents the absence of a value or a null value.  
   - Example: `nothing = None` (Here, `None` is used to represent nothing).

# ---------------------------------------------------------------------------------------------------------------------

### 4. **Python Operators by Type**

 
#### 1. **Arithmetic Operators**  

These operators are used to perform mathematical operations.

- `+` : Addition  
- `-` : Subtraction  
- `*` : Multiplication  
- `/` : Division (returns a float)  
- `//` : Floor Division (returns an integer)  
- `%` : Modulus (returns the remainder)  
- `**` : Exponentiation (power of a number)

Example:
```python
a = 10
b = 5
print(a + b)  # 15
print(a - b)  # 5
print(a * b)  # 50
print(a / b)  # 2.0
print(a // b) # 2
print(a % b)  # 0
print(a ** b) # 100000
```

#### 2. **Comparison Operators**
Comparison operators are used to compare values and return a boolean result (True or False).

- **`==` : Equal to
Returns True if values are equal.**
```python
x = 10  
y = 10  
print(x == y)  # True
```

- **`!=` : Not equal to
Returns True if values are not equal.**
```python
x = 10  
y = 5  
print(x != y)  # True
```

- **`>` : Greater than
Returns True if left value is greater.**
```python
x = 10  
y = 5  
print(x > y)  # True
```

- **`<` : Less than
Returns True if left value is less.**
```python
x = 5  
y = 10  
print(x < y)  # True
```

- **`>=` : Greater than or equal to
Returns True if left value is greater or equal.**
```python
x = 10  
y = 5  
print(x >= y)  # True
```


- **`<=` : Less than or equal to
Returns True if left value is less or equal.**
```python
x = 5  
y = 10  
print(x <= y)  # True
```

#### 3. **Logical Operators** 

Logical operators are used to combine conditional statements and return boolean results.

- **`and` : Logical AND
Returns True if both statements are true.**
```python
x = 5  
y = 10  
print(x > 0 and y < 20)  # True
```

- **`or` : Logical OR
Returns True if at least one statement is true.**
```python
x = 5  
y = 10  
print(x > 10 or y == 10)  # True
```

- **`not` : Logical NOT
Reverses the result, returns False if the result is true.**
```python
x = 5  
print(not(x > 10))  # True
```

#### 4. **Assignment Operators**

These operators are used to assign values to variables.

- `=` : Simple assignment

- `+=` : Add and assign

- `-=` : Subtract and assign

- `*=` : Multiply and assign

- `/=` : Divide and assign

- `//=` : Floor divide and assign

- `**=` : Exponentiation and assign

**Example:**

- x = 5
- x += 3  # x = x + 3 -> 8
- x -= 2  # x = x - 2 -> 6
- x *= 4  # x = x * 4 -> 24
- x /= 6  # x = x / 6 -> 4.0

#### 5. **Identity Operators**

These operators compare the memory location of two objects.

- `is` : Returns True if both variables refer to the same object

- `is not` : Returns True if both variables do not refer to the same object

```python
a = 7
b = 7
print(a is b)      # True
print(a is not b)  # False
```

#### 5. **Membership Operators**

These operators are used to test if a value is found in a sequence (like a list, tuple, or string).

- `in` : Returns True if the value is present in the sequence

- `not in` : Returns True if the value is not present in the sequence

**Example:**

```python
fruits = ["apple", "banana", "cherry"]
print("apple" in fruits)  # True
print("orange" not in fruits)  # True
```

# PART II

### List Operations

#### **Basic List Operations**:
- Creating a list:
  ```python
      my_list = [1, 2, 3, 4, 5]
      empty_list = []
      mixed_list = [1, "hello", 3.14, True]
  ```
- Accessing elements:
  ```python
      my_list = [10, 20, 30, 40, 50]
      print(my_list[0])     # 10 (first element)
      print(my_list[-1])    # 50 (last element)
  ```
- Slicing:
  ```python
      my_list = [10, 20, 30, 40, 50]
      print(my_list[1:4])   # [20, 30, 40]
      print(my_list[:3])    # [10, 20, 30]
      print(my_list[2:3])   # [30]
  ```
- Concatenation:
  ```python
      list1 = [1, 2, 3]
      list2 = [4, 5, 6]
      combined = list1 + list2  # [1, 2, 3, 4, 5, 6]
  ```
- Repetition:
  ```python
      list1 = [1, 2, 3]
      repeated = list1 * 3  # [1, 2, 3, 1, 2, 3, 1, 2, 3]
  ```
  
#### **List Methods**:
- `append()`: Add an element to the end
  ```python
      fruits = ["apple", "banana"]
      fruits.append("cherry")  # ["apple", "banana", "cherry"]
  ```
- `extend()`: Add elements from another list
  ```python
      fruits = ["apple", "banana"]
      more_fruits = ["cherry", "orange"]
      fruits.extend(more_fruits)  # ["apple", "banana", "cherry", "orange"]
  ```
- `insert()`: Add element at specific position
  ```python
      fruits = ["apple", "banana"]
      fruits.insert(1, "orange")  # ["apple", "orange", "banana"]
  ```
- `remove()`: Remove first occurrence of value 
  ```python
        fruits = ["apple", "banana", "apple"]
        fruits.remove("apple")  # ["banana", "apple"]
  ```
- `pop()`: Remove element at position (or last)
  ```python
      fruits = ["apple", "banana", "cherry"]
      fruits.pop(1)  # Returns "banana", list becomes ["apple", "cherry"]
      fruits.pop()   # Returns "cherry", list becomes ["apple"]
  ```
- `clear()`: Remove all elements
  ```python
      fruits = ["apple", "banana"]
      fruits.clear()  # []
  ```
- `index()`: Find position of value
  ```python
      fruits = ["apple", "banana", "cherry"]
      position = fruits.index("banana")  # 1
  ```
- `count()`: Count occurrences of value
  ```python
      fruits = ["apple","banana", "apple", "cherry"]
      apple_count = fruits.count("apple")  # 2
  ```
- `sort()`: Sort list in-place
  ```python
      numbers = [3, 1, 4, 2]
      numbers.sort()  # [1, 2, 3, 4]
      numbers.sort(reverse=True)  # [4, 3, 2, 1]
  ```

- `reverse()`: Reverse list in-place 
  ```python
      fruits = ["apple","banana", "cherry"]
      fruits.reverse()  # ["cherry", "banana", "apple"]
  ```
- `copy()`: Create a shallow copy   
  ```python
      original = [1, 2, 3]
      copied = original.copy()  # [1, 2, 3] (independent copy)
  ```

#### **Built-in Functions for Lists**:
- `len()`: Get list length
  ```python
      fruits = ["apple", "banana", "cherry"]
      length = len(fruits)  # 3
  ```
- `max()`: Find maximum value
  ```python
      numbers = [5, 2, 8, 1]
      maximum = max(numbers)  # 8
  ```

- `min()`: Find minimum value
  ```python
      numbers = [5, 2, 8, 1]
      minimum = min(numbers)  # 1
  ```
- `sum()`:
  ```python
      numbers = [1, 2, 3, 4]
      total = sum(numbers)  # 10
  ```
- `sorted()`: Return new sorted list
  ```python
      numbers = [3, 1, 4, 2]
      sorted_numbers = sorted(numbers)  # [1, 2, 3, 4] (original unchanged)
  ```
- `list()`: Convert iterable to list
  ```python
      tuple_data = (1, 2, 3)
      list_data = list(tuple_data)  # [1, 2, 3]
      string_data = "hello"
      list_chars = list(string_data)  # ['h', 'e', 'l', 'l', 'o']
  ```
- `any()`: True if any element is True
  ```python
      values = [False, False, True, False]
      result = any(values)  # True
  ```
- `all()`: True if all elements are True
  ```python
      values = [True, True, True]
      result = all(values)  # True
  ```

- `enumerate()`: Return index-value pairs
  ```python
      fruits = ["apple", "banana", "cherry"]
      for index, fruit in enumerate(fruits):
        print(f"{index}: {fruit}") 
        # 0: apple
        # 1: banana
        # 2: cherry

   ```

- `zip()`: Combine multiple lists
   ```python
        names = ["Alice", "Bob", "Charlie"]
        ages = [25, 30, 35]
        for name, age in zip(names, ages):
                print(f"{name} is {age} years old")
            # Alice is 25 years old
            # Bob is 30 years old
            # Charlie is 35 years old
    ```

# PART III

### String Operations



- `upper()`: Convert string to uppercase
```python
    text = "Hello, World!"
    uppercase_text = text.upper()  # "HELLO, WORLD!"
```
- `lower()`: Convert string to lowercase
```python
    text = "Hello, World!"
    lowercase_text = text.lower()  # "hello, world!"
```

- `strip()`: Remove leading and trailing whitespace
```python
    text = "   Hello, World!   "
    stripped_text = text.strip()  # "Hello, World!"
```
- `split()`: Split string into list of substrings
```python
    text = "Hello, World!"
    words = text.split(", ")  # ["Hello", "World!"]
```
- `join()`: Join list of strings into one string
```python
    words = ["Hello", "World!"]
    text = " ".join(words)  # "Hello World!"
```
- `replace()`: Replace occurrences of
```python
    text = "Hello, World!"
    new_text = text.replace("World", "Python")  # "Hello, Python!"
```
- `find()`: Find index of substring
```python
    text = "Hello, World!"
    index = text.find("World")  # 7
    index = text.find("x")  # -1 
```
- `startswith()`: Check if string starts with substring
```python
    text = "Hello, World!"
    result = text.startswith("Hello")  # True
```
- `endswith()`: Check if string ends with substring
```python
    text = "Hello, World!"
    result = text.endswith("World!")  # True
```

- `islower()`: Check if string is lowercase
```python
    text = "hello"
    result = text.islower() # True
```
- `isupper()`: Check if string is uppercase
```python
    text = "HELLO"
    result = text.isupper() # True
```
- `capitalize()`: Capitalize first letter of string
```python
    text = "hello"
    result = text.capitalize() # "Hello"
```

# PART IV

### Dictionary Operations



- **Creating a Dictionary**:
  ```python
      person = {"name": "Alice", "age": 30, "city": "New York"}
      
  ```
- **Accessing Values**:
```python
  name = person["name"]  # "Alice"
  
```
- **Modifying Values**:
```python
  person["age"] = 31  # {"name": "Alice", "age": 31, "city": "New York"}
  
```
- **Adding New Key-Value Pairs**:
```python
  person["job"] = "Engineer"  # {"name": "Alice", "age": 31, "city": "New York", "job": "Engineer"}
  
```
- **Removing Key-Value Pairs**:
```python
  del person["city"]  # {"name": "Alice", "age": 31, "job": "Engineer"}
  
```
- **Checking if Key Exists**:
```python
   person = {"name": "Alice", "age": 30, "city": "New York"}
   print("name" in person)  # True
   
```

- **get all keys()**
```python
   person = {"name": "Alice", "age": 30, "city": "New York"}
   print(person.keys())  # dict_keys(['name', 'age', 'city'])
   
```

- **get all values()**
```python 
   person = {"name": "Alice", "age": 30, "city": "New York"}
   print(person.values())  # dict_values(['Alice', 30, 'New York'])
   
```

- **merge two dictionaries**
```python
   person = {"name": "Alice", "age": 30, "city": "New York"}
   person.update({"age": 31, "job": "Engineer"})
   print(person)  # {"name": "Alice", "age": 31, "city": "New York", "job": "Engineer"}
   
```

# PART V

## **if - elif - else**


**1. Simple if**

In [2]:
age = 18

if age >= 18:
    print("You are an adult")

You are an adult


**2. if-else Statement**

In [3]:
age = 16

if age >= 18:
    print("You are an adult")
else:
    print("You are a minor")

You are a minor

**3. if-elif-else Statement**

In [4]:
score = 85

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
elif score >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Grade: B

**4. Conditions inside conditions**

In [5]:
age = 25
has_license = True

if age >= 18:
    print("Age requirement met")
    if has_license:
        print("You can drive")
    else:
        print("You need a license to drive")
else:
    print("You are too young to drive")

Age requirement met
You can drive

**5. Using in operator**

In [6]:
fruit = "apple"

if fruit in ["apple", "banana", "orange"]:
    print("This is a common fruit")

This is a common fruit

**6. Checking multiple conditions for the same variable**

In [7]:
day = "Saturday"

# way 1
if day == "Saturday" or day == "Sunday":
    print("It's the weekend!")

# Way 2
if day in ["Saturday", "Sunday"]:
    print("It's the weekend!")

It's the weekend!
It's the weekend!

### **While Loop**

In [8]:
count = 1

while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

## **For Loop**

**1.Iterating through a list**

In [9]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

**2. Strings (character by character)**

In [10]:
message = "Hello"

for character in message:
    print(character)

H
e
l
l
o

**3. Generating a sequence of numbers**

In [11]:
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
# range(start, stop)
for i in range(2, 6):
    print(i)

2
3
4
5

In [13]:
for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

In [14]:
for i in range(0, 5, 2):
    print(i)

0
2
4

**4. Iterating over dictionary values**

In [15]:
person = {"name": "John", "age": 30, "city": "New York"}

for value in person.values():
    print(value)

John
30
New York

**5. Iterating over dictionary keys**

In [16]:
person = {"name": "John", "age": 30, "city": "New York"}

for key in person.keys():
    print(value)

New York
New York
New York

**5. Iterating over dictionary keys and values**

In [17]:
person = {"name": "John", "age": 30, "city": "New York"}

for key, value in person.items():
    print(f"{key}: {value}")

name: John
age: 30
city: New York